.field {
    max-width: 500px;
    border-radius: var(--lumo-border-radius-m);
    box-shadow: var(--lumo-box-shadow-xs);
    transition: box-shadow 0.3s ease-in-out;
    flex-grow: 1;
    flex-shrink: 1;
    --lumo-contrast-10pct: rgba(0, 0, 0, 0.05);
}

.field.required-field {
    border-left: 3px solid var(--lumo-primary-color);
}

.field.not-required-field {
    border-left: 3px solid var(--lumo-success-color-50pct);
}

.field.text-area {
    min-height: 100px;
}

.checkbox-field {
    margin-top: var(--lumo-space-m);
    padding: var(--lumo-space-s);
    transition: opacity 0.3s ease-in-out;
}

.field:hover {
    box-shadow: var(--lumo-box-shadow-s);
}

.editor-field {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}