@import url('./views/creation-view.css');
@import url('./views/execution-view.css');
@import url('./views/header-style.css');
@import url('./views/home-view.css');
@import url('./views/scenario-details-view.css');
@import url('./views/style-app.css');
@import url('./views/timer-styles.css');
@import url('./views/start-view.css');
@import url('./views/field-generator.css');
@import url('./views/list-view.css');
@import url('./views/error-view.css');

vaadin-grid-cell-content {
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: clip !important;
}